<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::_header('确认您的授权')">
    <title>确认您的授权</title>
</head>

<body>
<div class="auth">
    <div class="container-login100">
        <div class="wrap-auth100">
            <form class="login100-form validate-form" th:action="@{/oauth/authorize}" method="post">
                <!--/*@thymesVar id="clientId" type="java.lang.String"*/-->
                <span class="auth-form-title">
					服务授权
				</span>
                <hr style="margin-top:20px;">
                <div class="content">
                    <div th:text="${clientId} + ' 请求授权，该应用将访问您的资源信息。将会取得如下权限：'">
                        Oauth2请求授权，该应用将访问您的资源信息
                    </div>
                    <ul style="padding-top: 20px;">
                        <li style="list-style: disc;margin-left: 30px;" th:each="scope : ${scopes}">
                            <span th:text="${scope}"></span>
                            <input type="hidden" th:name="'scope.' + ${scope}" value="true">
                        </li>
                    </ul>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <input type="hidden" name="user_oauth_approval" value="true">
                </div>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        确认授权
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>