<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::_header('error')">
    <title>error</title>
</head>

<body>
<div class="auth">
    <div class="container-login100">
        <div class="wrap-error100">
            <div class="error">
                <img th:src="@{/img/404.png}" width="250px" alt="tip" src="/img/404.png"/>
            </div>
            <div class="error-why">错误原因：404<p>找不到页面</p></div>
            <div class="return"><a class="return-index" href="#">返回首页</a></div>
        </div>
    </div>
</div>
</body>
</html>