<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::_header">
  <title>贵州民族大学——欢迎登录</title>
</head>
<body>
<div id="app">
  <v-app>
    <v-content>
      <v-row class="fill-height align-sm-center" justify="center">
        <v-col class="pa-0">
          <v-card id="form-card" class="px-6 pb-7 px-sm-10 pb-sm-9 mx-auto" outlined>
            <v-form ref="login" id="login" th:action="@{/authorization/form}" method="post" @submit.native.prevent>
              <v-spacer class="pt-6 pt-sm-12"></v-spacer>
              <v-card-title class="justify-center headline">
                欢迎登录
              </v-card-title>
              <div class="login-user pb-2 text-center" style="height:44px">
                <v-btn outlined rounded>{{nameText}}</v-btn>
              </div>
              <v-spacer></v-spacer>
              <v-card-subtitle class="text-center subtitle-1 pt-0">
                <p th:if="${param.error != null}" th:text="${param.error}" style="color: red;"></p>
              </v-card-subtitle>
              <v-spacer></v-spacer>
              <v-card-text style="height: 300px">
                <v-text-field label="用户名/手机号/邮箱" name="username" type="text" clearable :rules="usernameRules"
                              outlined v-model='user.username' @keyup.enter="next" ref="username" autofocus :counter="55">
                </v-text-field>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <v-text-field label="账户密码" name="password" type="password" required clearable :rules="passwordRules"
                              outlined v-model='user.password' @keyup.enter="next" ref="password">
                </v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-btn outlined color="info" @click="forget">忘记密码</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="info" type="submit" @click="next">登录</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-content>
  </v-app>
</div>

<div th:include="common/common::_footer"></div>
<script >
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: function () {
      return {
        nameText: '贵州民族大学授权中心',
        user: {
          username: null,
          password: null
        },
        usernameRules:[
          v => !!v || '请输入用户名/手机号/邮箱',
          v => !!v && v.length <= 55 || '长度不合法'
        ],
        passwordRules:[
          v => !!v || '请输入密码',
          v => !!v && v.length <= 55 && v.length >= 4 || '长度不合法'
        ]
      }
    },
    watch: {
    },
    created () {
    },
    methods: {
      next () {
        this.$refs.username.validate() && this.$refs.password.validate() && document.getElementById("login").submit()
      },
      forget () {}
    }
  })
</script>
</body>
</html>
